# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache
.idea/
build
.gradle
src/main/resources/application-production.properties
src/main/resources/application-staging.properties
secrets
id_rsa_breakout
secrets.zip
